<div class="pimg1">
  <div class="ptext">
    <div class="logos">
      <%= image_tag "logo-white.png" %>
      <br>
      <%= image_tag "title.png" %>
    </div>

    <p>welcomes you in a warm and friendly atmosphere to come <br>to taste its dishes prepared by its Thai Chef <br>in the purest traditions.</p>
  </div>
</div>

<section class="section section-menu">
  <div class="wrapper-menu">
    <div class="container">
      <div class="title-header text-center">
        <h2>Our menu</h2>
      </div>
        <br>
      <div class="title-subheader text-center text-muted">
        <p class="title-subheader">All dishes are also available to take away</p>
      </div>
      <ul class="nav nav-pills justify-content-center mt-5 mb-5" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-entrees-tab" data-toggle="pill" href="#pills-entrees" role="tab" aria-controls="pills-entrees" aria-selected="true">Starters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-plats-tab" data-toggle="pill" href="#pills-plats" role="tab" aria-controls="pills-plats" aria-selected="false">Mains</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-accompagnements-tab" data-toggle="pill" href="#pills-accompagnements" role="tab" aria-controls="pills-accompagnements" aria-selected="false">Noodles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-desserts-tab" data-toggle="pill" href="#pills-desserts" role="tab" aria-controls="pills-desserts" aria-selected="false">Desserts</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-entrees" role="tabpanel" aria-labelledby="pills-entrees-tab">
          <div class="row section_menu_grid_item entrees ">
            <div class="col-md-6 section_menu_item">
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Potage épicé aux crevettes</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-right">
                      <strong>Frs 12</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Potage épicé au poulet et lait de coco</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 12</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Brochettes de poulet au Satay</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 10</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Raviolis aux crevettes frits</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 10</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Rouleaux de printemps végétarien</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 10</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <div class="col-md-6 section_menu_item">
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Raviolis aux crevettes et poulet à la vapeur</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 10</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Salade épicée de boeuf (Plat / Frs 27)</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 14</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Salade épicée de poulet haché (Plat / Frs 27)</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 14</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Salade épicée de papaye façon "Som Tam Thaï"</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 12</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Salade épicée de papaye avec crevettes</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 27</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-plats" role="tabpanel" aria-labelledby="pills-plats-tab">
          <div class="row section_menu_grid_item plats ">
            <div class="col-md-6 section_menu_item">
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Poulet ou porc à l'aigre douce</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 25</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Poulet ou porc au curry rouge</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 25</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Poulet ou porc au curry vert et bambou</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 25</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Poulet ou porc, sauté aux piments frais et au basilic</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 25</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Poulet ou porc, sauté au gingembre et champignons</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 25</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Poulet ou porc, sauté aux noix de cajou et oignons</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 25</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <div class="col-md-6 section_menu_item">
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Boeuf ou crevettes au curry rouge</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 27</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Boeuf ou crevettes au curry vert et bambou</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 27</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Boeuf sauté à la sauce d'huitre et champignons</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 27</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Boeuf ou crevettes sauté à l'ail et poivre</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 27</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Filet de poisson au curry rouge</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 27</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-accompagnements" role="tabpanel" aria-labelledby="pills-accompagnements-tab">
          <div class="row section_menu_grid_item accompagnments ">
            <div class="col-md-6 section_menu_item">
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Nouilles de riz sautées aux crevettes "Pad Thaï"</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 28</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Nouilles de riz sautées au poulet "Pad Sea Ew"</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 26</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Sauté de légumes mixtes à la sauce d'huitre</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 16</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <div class="col-md-6 section_menu_item">
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Nouilles de riz sautées au poulet et piment frais</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 28</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Riz blanc</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 3</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Riz sauté à l'ail et ciboulette</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 5</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-desserts" role="tabpanel" aria-labelledby="pills-desserts-tab">
          <div class="row section_menu_grid_item desserts ">
            <div class="col-md-6 section_menu_item">
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Demie mangue thaïlandaise</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 8</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Demie mangue thaïlandaise avec riz gluand</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 11</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Ananas confit au Cointreau, glace au choix</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 16</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <div class="col-md-6 section_menu_item">
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Salade de fruits exotiques</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 6</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                      <p>Flan de marron au lait de coco</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 7</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name text-left">
                       <p>Glace ou sorbet au choix (par boule)</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price texte-center">
                      <strong>Frs 3,50</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-reservation">
</section>

<section class="section section-gallery">
  <div class="wrapper-gallery">
    <div class="container">
      <div class="title-header text-center">
        <h2>Our gallery</h2>
      </div>
      <div class="wrapper-carousel">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "welcome.png", class: "d-block w-100", alt: "welcome" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "salle.png", class: "d-block w-100", alt: "salle" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "entree1.png", class: "d-block w-100", alt: "salle" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "plat1.png", class: "d-block w-100", alt: "salle" %>
            </div>
            <div class="carousel-item">
              <%= image_tag "dessert.png", class: "d-block w-100", alt: "dessert" %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-map section-light">
  <div id="map"></div>
</section>


